<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3>
                                Chicken dish with boiled egg 
                            </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <div class="row">
            <% if (recipes.length > 0) { %>
                <% recipes.forEach((recipe) => { %> <!-- Loop through recipes -->
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src="/images/recipes/<%= recipe.image %>" alt="<%= recipe.recipeName %>"> <!-- Dynamically display the image -->
                        </div>
                        <h3><%= recipe.recipeName %></h3> <!-- Dynamically display recipe name -->
                        <span><%= recipe.categoryName %></span> <!-- Dynamically display recipe category -->
                        <p>Time Needs: <%= recipe.preparationTime %> mins</p> <!-- Dynamically display time -->
                        <a href="/recipes/<%= recipe.recipeId %>" class="line_btn">View Recipe</a> <!-- Link to full recipe -->
                    </div>
                <% }); %>
            <% } else { %>
                <p>No recipes found.</p>
            <% } %>
        </div>
    </div>
</div>
<!-- /recepie_area_start  -->

<div class="latest_trand_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="trand_info text-center">
                    <p>Thousands of recipes are waiting to be watched</p>
                    <h3>Discover latest trending recipes</h3>
                    <a href="/recipes" class="boxed-btn3">View all Recipes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- dish_area start  -->
<div class="dish_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="dish_wrap d-flex">
                    <% if (categories.length > 0) { %>
                        <% categories.forEach((category) => { %>
                            <div class="single_dish text-center">
                                <div class="thumb">
                                    <img src="/images/categories/<%= category.image %>" alt="<%= category.name %>">
                                </div>
                                <h3><%= category.categoryName %></h3>
                                <p class="mt-4"><%= category.description %></p>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No categories available.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ dish_area start  -->