<div class="container mt-5">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color: #007bff;"><i class="fa fa-home" style="margin-right: 5px; color: #007bff;"></i>Home</a></li>
            <li class="breadcrumb-item"><a href="/recipes" style="color: #007bff;">Recipes</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= recipe.recipeName %></li>
        </ol>
    </nav>

    <!-- Recipe Details -->
    <div class="recipe-details mt-5">
        <div class="row">
            <!-- Left Section for Image and Basic Details -->
            <div class="col-lg-4">
                <div class="recipe-img">
                    <img src="/images/recipes/<%= recipe.image %>" alt="<%= recipe.recipeName %>" class="img-fluid">
                </div>
                <div class="recipe-info">
                    <h2 class="mb-4"><%= recipe.recipeName %></h2>
                    <p><strong>Category:</strong> <%= recipe.category.categoryName %></p>
                    <p><strong>Preparation Time:</strong> <%= recipe.preparationTime %> mins</p>
                    <p><strong>Serving Size:</strong> <%= recipe.servingSize %></p>
                    <% if (userId && recipe.userId.toString() === userId.toString()) { %>
                        <a href="/users/edit-recipe/<%= recipe._id %>" class="btn line_btn">Edit</a>
                    <% } %>
                    <a href="#" id="add-to-favourite" class="line_btn favourite-btn mt-3" data-recipe-id="<%= recipe._id %>">Add to Favourites</a>
                </div>
            </div>

            <!-- Right Section for Ingredients and Steps -->
            <div class="col-lg-8">
                <!-- Ingredients Section -->
                <div class="ingredients-box modern-box mb-4 p-4">
                    <h3>Ingredients</h3>
                    <ul>
                        <% recipe.ingredients.forEach((ingredient) => { %>
                            <li><%= ingredient %></li>
                        <% }); %>
                    </ul>
                </div>

                <!-- Preparation Steps Section -->
                <div class="instructions-box modern-box p-4">
                    <h3>Preparation Steps</h3>
                    <ol>
                        <% recipe.steps.forEach((step, index) => { %>
                            <li><%= step %></li>
                        <% }); %>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Similar Recipes Section -->
    <div class="similar-recipes">
        <h3 class="text-center" style="font-weight: bolder;">Similar Recipes</h3>
        <div class="custom-line"></div>
        <div class="recepie_area plus_padding">
            <div class="container">
                <div class="row">
                    <% similarRecipes.forEach((similarRecipe) => { %>
                        <div class="single_recepie text-center">
                            <div class="recepie_thumb">
                                <img src="/images/recipes/<%= similarRecipe.image %>" alt="<%= similarRecipe.recipeName %>">
                            </div>
                            <h3><%= similarRecipe.recipeName %></h3>
                            <span><%= similarRecipe.category.categoryName %></span>
                            <p>Time Needs: <%= similarRecipe.preparationTime %> mins</p>
                            <a href="/recipes/<%= similarRecipe._id %>" class="line_btn">View Recipe</a>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/favourite.js"></script>