<div class="container mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="color: #007bff;"><i class="fa fa-home" style="margin-right: 5px; color: #007bff;"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Favourites</li>
            </ol>
        </nav>
    </div>
    
    <h2 class="text-center" style="font-weight: bolder;">Favourite Recipes</h2>
    <div class="custom-line mb-4"></div>
    <div class="recepie_area plus_padding">
        <div class="container">
            <div class="row">
                <% if (favourites.length > 0) { %>
                    <% favourites.forEach(favourite => { %>
                        <div class="single_recepie text-center">
                            <div class="recepie_thumb">
                                <img src="/images/recipes/<%= favourite.image %>" alt="<%= favourite.recipeName %>">
                            </div>
                            <h3><%= favourite.recipeName %></h3>
                            <span><%= favourite.category.categoryName %></span>
                            <p>Time Needs: <%= favourite.preparationTime %> Mins</p>
                            <a href="/recipes/<%= favourite._id %>" class="line_btn">View Full Recipe</a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p class="text-center">You don't have any favourite recipes yet!</p>
                <% } %>
            </div>
        </div>
    </div>
</div>